<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "i"
        versionCode="in.mystore.mstest"
        version   = "1.0.0">
    <name>Gemco</name>
    <description>
        Gemco Rocks
    </description>
    <author email="rajiv@mystore.in" href="http://cordova.io">
        Rajiv Kumar
    </author>
    <content src="index.html" />
    <access origin="*" />
    <gap:platform name="android" />

    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <gap:plugin name="com.phonegap.plugins.pushplugin" />
    <icon src="icons/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
    <icon src="icons/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
    <icon src="icons/android/hdpi.png" gap:platform="android" gap:density="hdpi" />
    <icon src="icons/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" />
    <gap:splash src="splash/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
    <gap:splash src="splash/android/mdpi.png" gap:platform="android" gap:density="mdpi" />

</widget>